.THIS {
    /*padding-left: 2rem !important;*/
    padding: 5px !important;
    width: 97% !important;
}

.THIS .slds-has-error .slds-form-element__help{
	position: absolute !important;    
}

.THIS .disabled-true {
    background-color: #ecebea !important;
}
.THIS .disabled-true .slds-pill__remove{
    display:none !important;
}

.THIS .verticalAlign {
	cursor: pointer;
	margin: 6px 0px 0px 6px!important;
}
.THIS .fullWidth {
	width: 100% !important;
}
.THIS .recordListBox {
	margin-top:0px !important;
	overflow-y: scroll;
}
.THIS .inputBox input {
	padding-left: 30px;
}
.THIS .eachItem:hover {
    background-color: #EEE;
    cursor: pointer;
}
.THIS .inputIcon {
	z-index: 99;
    padding: 2px 0;
}

/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.THIS ::-webkit-scrollbar-track {
   display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}

.THIS .custom-slds-dropdown {
    position: relative !Important;
}
.THIS .slds-pill__action{
    border : none !Important;
}