/* .THIS .custom-tab-disabled{
    pointer-events: none;
} */
/* .THIS li.slds-tabs_default__item.custom-tab-disabled {
    pointer-events: none;
} */
/* .THIS li.slds-vertical-tabs__nav-item.slds-is-active{
    pointer-events: none;
} */