.THIS .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.THIS .shiptotable{
    font-size:12px;
}
.THIS .slds-table{
    font-size: 11px;
}
.THIS th> div.nonsortablecol{
    font-size: 11px;
    padding-top: 8px;
    font-weight: 400;
}
.THIS .slds-modal__container{
    width:20%;
}
.THIS .paButtonStyle{
    width: 100%;
    height: 59px;
}
.THIS .slds-table{
    font-size: 12px;
}
.THIS th> div > a > span.slds-truncate{
    font-size: 10px;
}
.THIS th> div.nonsortablecol{
    font-size: 10px;
    padding-top: 8px;
    font-weight: 400;
}
.THIS td{

}